body {
  background: black;
  animation: strobe 0.1s infinite;
}

.Searchbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.Searchbar label {
  margin-bottom: 10px;
}

.Searchbar input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 25%;
}

.Searchbar input[type="checkbox"] {
  margin-right: 10px;
}

.ProductTable {
  margin: 20px;
}

.ProductTable table {
  border-collapse: collapse;
  width: 100%;
}

.ProductTable th {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ProductTable td {
  border: 1px solid #ccc;
  padding: 10px;
  animation: color-cycling 1s ease-in-out infinite;
}


h1 {
  font-size: 3rem;
  animation: color-cycling 0.5s ease-in-out infinite;
  padding-left: 1rem;
}

h2 {
  font-size: 2rem;
  padding-left: 1rem;
  text-align: right;
  padding-right: 3rem;
}

@keyframes color-cycling {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}

@keyframes strobe {
  0% {
    background: black;
  }
  50% {
    background: white;
  }
  100% {
    background: black;
  }
}